body{
  background-color: rgb(69,130,236);
  font-family:monospace;
}


.countries-list{
  margin: 50px 20vw;
  padding: 10px 20px;
  background-color: #fff;
}


.country{
  padding: 5px 5px;
}

.country-name{
  font-size: 20px;
  line-height: 0;
}

.country-region{
  font-size: 16px;
  line-height: 0;
}

.country-area{
  font-size: 12px;
  line-height: 0;
}

.pagination{
  
}